@use '../../../styles.scss' as mainStyles;

.main-navbar {
    background-color: mainStyles.$primary;
}

.main-navbar-link {
    color: mainStyles.$primary-text-color;
}

.main-navbar-link:hover {
    color: darken(mainStyles.$primary-text-color, 10%);
}