<div class="card playing-card" [ngStyle]="getCardStyle()">
    <div class="card-body">
        <h5 class="card-title">{{card().name}}</h5>
        <img [src]="getCardImageUrl()" width="200" [alt]="card().name" />
    </div>
    <div class="card-footer">
        <div class="card-display-buttons">
            <button class="btn w-100 playing-card-button" [ngStyle]="getButtonStyle()" (click)="handleEditClick()">Edit</button>
            <button class="btn w-100 playing-card-button" [ngStyle]="getButtonStyle()" (click)="handleDeleteClick()">Delete</button>
        </div>
    </div>
</div>
