<div>
    <app-default-layout title="Types">
        <div *ngIf="!cardTypesLoading; else typesLoading">
            <div class="container-fluid d-flex flex-row gap-2 mb-3 flex-wrap justify-content-center">
                <app-type-display *ngFor="let cardType of getNonEmptyCardTypes()" [type]="cardType" (editClick)="handleTypeEditClick(cardType)" [lastImageUpdateTime]="lastImageUpdateTime" />
            </div>
            <button class="btn btn-primary" (click)="handleCreateTypeClick()">Add Type</button>
            <app-type-edit-modal [show]="showEditModal" [cardType]="curEditingCardType" (onClose)="handleModalClose()" (onAddType)="onAddType($event)" (onEditType)="onEditType($event)" />
        </div>
        <ng-template #typesLoading>
            <app-page-loading-icon />
        </ng-template>
    </app-default-layout>
</div>
