<div>
    <app-default-layout title="Types">
        <div *ngIf="!cardTypesLoading; else typesLoading">
            <div class="container-fluid d-flex flex-row gap-2 mb-3">
                <app-type-display *ngFor="let cardType of cardTypes" [type]="cardType" (editClick)="handleTypeEditClick(cardType)" />
            </div>
            <button class="btn btn-primary" (click)="handleCreateTypeClick()">Add Type</button>
            <app-type-edit-modal [show]="showEditModal" [cardType]="curEditingCardType" (onClose)="handleModalClose()" (onAddType)="onAddType($event)" />
        </div>
        <ng-template #typesLoading>
            Loading...
        </ng-template>
    </app-default-layout>
</div>
