on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Pull repository
              uses: actions/checkout@v5

            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                node-version: 24
                cache: 'npm'

            - name: Install dependencies
              run: npm ci

            - name: Build project
              run: npm run build

            - name: Set up AWS Credentials
              uses: aws-actions/configure-aws-credentials@v2
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: us-east-1

            - name: Deploy to S3
              run: |
                aws s3 sync ./dist/card-generator-angular/browser s3://${{ secrets.S3_BUCKET_NAME }} --delete --exclude "index.html" --exclude "assets/*" --exclude "favicon.ico" --cache-control "max-age=31536000, public"
                aws s3 cp ./dist/card-generator-angular/browser/index.html s3://${{ secrets.S3_BUCKET_NAME }}/index.html --cache-control "max-age=0, no-cache, no-store, must-revalidate"
                aws s3 sync ./dist/card-generator-angular/browser/assets s3://${{ secrets.S3_BUCKET_NAME }}/assets --delete --cache-control "max-age=84600, public"
                aws s3 cp ./dist/card-generator-angular/browser/favicon.ico s3://${{ secrets.S3_BUCKET_NAME }}/favicon.ico --cache-control "max-age=84600, public"

            - name: Invalidate CloudFront Cache
              run: |
                aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"